*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background: #E1A735;
}

.page{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.navbar img{
    border-radius: 50%;
    width: 75px;
}

.navbar{
    font-size: larger;
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logoText{
    width: 120px;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
    color: #000000;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    padding: 10px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #000000;
}



.titulo{
    text-align: center;
    padding-bottom: 2%;
}

.cardapio-menu{
    position: absolute;
    box-shadow: 0 0 10px #291a08;
    display: none;
}

.cardapio-menu a{
    display: block;
    color: #462f14;
}

.cardapio-dropdown:hover .cardapio-menu{
    display: block;
}

.card-cardapio{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    max-width: 1200px;
    height: auto;
    margin: auto;   
    border-radius: 10px;
    background-color: #8a3d16;
}

.card-cardapio:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}


.cardapio-grid h2{
    font-size: 40px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    text-align: center;
}

.cardapio-grid h3{
    font-size: 25px;
    padding-top: 5px;
}

.cardapio-grid #precos{
    font-size: 20px;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
}

.cardapio-grid #desc{
    font-size: 18px;
    padding-top: 1px;

}

.cardapio-grid .tradicional-grid div{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    max-width: auto;
    height: auto;
    margin: auto;   
    border-radius: 10px;
    background-color: #813611;
    padding: 1%;
}

.cardapio-grid .tradicional-grid div:hover{
    box-shadow: 1px 2px 10px 5px #270f03;
    
}

.cardapio-grid .hamburguer-caseiro-grid div{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    max-width: auto;
    height: auto;
    margin: auto;   
    border-radius: 10px;
    background-color: #813611;
    padding: 1%;
}

.cardapio-grid .hamburguer-caseiro-grid div:hover{
    box-shadow: 1px 2px 10px 5px #270f03;
    
}

.cardapio-grid .carne-bovina-grid div{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    max-width: auto;
    height: auto;
    margin: auto;   
    border-radius: 10px;
    background-color: #813611;
    padding: 1%;
}

.cardapio-grid .carne-bovina-grid div:hover{
    box-shadow: 1px 2px 10px 5px #270f03;
    
}

.cardapio-grid .carne-frango-grid div{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    max-width: auto;
    height: auto;
    margin: auto;   
    border-radius: 10px;
    background-color: #813611;
    padding: 1%;
}

.cardapio-grid .carne-frango-grid div:hover{
    box-shadow: 1px 2px 10px 5px #270f03;
    
}

.cardapio-grid .vegetariano-grid div{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    max-width: auto;
    height: auto;
    margin: auto;   
    border-radius: 10px;
    background-color: #813611;
    padding: 1%;
}

.cardapio-grid .vegetariano-grid div:hover{
    box-shadow: 1px 2px 10px 5px #270f03;
    
}

.cardapio-grid .bolinhos-grid div{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    max-width: auto;
    height: auto;
    margin: auto;   
    border-radius: 10px;
    background-color: #813611;
    padding: 1%;
}

.cardapio-grid .bolinhos-grid div:hover{
    box-shadow: 1px 2px 10px 5px #270f03;

}

.cardapio-grid .cervejas-grid div{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    max-width: auto;
    height: auto;
    margin: auto;   
    border-radius: 10px;
    background-color: #813611;
    padding: 1%;
}

.cardapio-grid .cervejas-grid div:hover{
    box-shadow: 1px 2px 10px 5px #270f03;
}

.cardapio-grid .refris-sucos-grid div{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    max-width: auto;
    height: auto;
    margin: auto;   
    border-radius: 10px;
    background-color: #813611;
    padding-bottom: 5px;
    padding-left: 1%;
}   

.cardapio-grid .refris-sucos-grid div:hover{
    box-shadow: 1px 2px 10px 5px #270f03;
}

.footer{    
    text-align: center;
    padding: 2%;
}

.footer p a{
    text-decoration: none;
    color: #763C00;
}