
*{
    margin: 0;
    padding: 0;
    
    font-family: sans-serif;
}


body{
    background-color: #E1A735;
}

.page{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;

}

.navbar img{
    border-radius: 50%;
    width: 75px;
}

.navbar{
    font-size: larger;
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #512c03;
}


/*.navbar ul li a:hover{  
    background-color: #775228;
}*/


.logoText {
    width: 120px;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
    color: #512c03;
    line-height: inherit;
    position: relative;
    
}

.page h1{
    color: #8a5416;
    text-align: center;
}

.conteudo-grid{
    display: grid;
    place-items: center;
    grid-template-columns: 100px 200px 200px;
    grid-template-rows: repeat(3, 100px) 150px;
    gap: 70px;
}

.conteudo-grid .conteudo-inicio{
    grid-column: 1/5;
    grid-row: 1;
}

.conteudo-grid .conteudo-sobre{
    text-align: end;
    grid-column: 3/5;
    grid-row: 2;
}

.conteudo-grid .conteudo-horario{
    grid-column: 3;
    grid-row: 3;
}

.conteudo-horario ul li{
    list-style: none;
    display: inline-block;

}

.footer{
    text-align: center;
}

.footer ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
    padding: 1em;
}

.footer ul li a{
    text-decoration: none;
}

.footer p{
    padding: 1em;
}




