*{
    margin: 0;
    padding: 0;
    
    font-family: Times New Roman;
}

body{
    background-color: #efd870;
}

.page{
    width: 100%;
    height: 100vh;
    
    background-position: center;
    background-size: cover;

}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #8a5416;
}

.navbar ul li a:hover{  
    background-color: #af712a;
}


.logoText {
    width: 120px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    color: #492701;
    line-height: inherit;
    position: relative;
    
}

.page h1{
    text-align: center;
}

.conteudo-grid{
    align-items: center;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, 250px) 150px;
}

.conteudo-grid .conteudo-inicio{
    grid-column: 1/4;
}

.conteudo-grid .conteudo-sobre{
    text-align: end;
    grid-column: 1/4;
    grid-row: 2;
}

.conteudo-grid .conteudo-horario{
    grid-column: 1/4;
    grid-row: 3;
}

.footer{
    text-align: center;
}

.footer #contatos{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}





